.container {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 30px 30px;
  width: 60vw;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    &__title {
      font-size: 24px;
      margin: 0;
      padding-left: 0;
    }
  }

  .image-container {
    display: flex;
    gap: 15px;
    font-size: 16px;

    &__img {
      width: 40%;
      height: auto;
    }
  }
}

@media screen and (max-width: 769px) {
  .image-container {
    flex-direction: column;

    .image-container__img {
      width: 100%;
      max-height: 300px;
    }
  }
}
